body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.error {
    color: red;
    font-size: 0.9em;
}

#amountInWords {
    margin-top: 5px;
}
.session-info{
    margin-left: 1050px;
}
.username{
    margin-left: 1070px;
}